body {
            transition: background-color 0.5s ease;
            margin: 30px;
        }



        .rockbtn{
            height: 100px;
            width:100px;
            border-radius: 200px;
            font-size: 70px;
            margin:50px;
            
            
        }
        input{
            height: 50px;
            width:50px;
            border-radius: 100px;
            font-size: 25px;
            background-color: black;
            float: right;
        }

        
        .ansbackground{
            background-color:#FFFDE1;
            font-size: 40px;
            text-align: center;
            font-style: Roboto;
            color:#93BD57;
        }
         #first{
            
            font-size: 20px;
            text-align: center;
        }
        #hader{
            color:#061E29;
            background-color: #FFFDE1;
            font-size: 50px;
            text-align: center;
            font-style: Inter;
            border:5px solid #1D546D;
            border-radius: 12px;
            
        }