body {
            transition: background-color 0.5s ease;
            margin: 30px;
        }



        .rockbtn{
            height: 100px;
            width:100px;
            border-radius: 200px;
            font-size: 70px;
            margin:50px;
            
            
        }
        input{
            height: 50px;
            width:50px;
            border-radius: 100px;
            font-size: 25px;
            background-color: black;
            float: right;
        }

        
        .ansbackground{
            background-color:#FFFDE1;
            font-size: 40px;
            text-align: center;
            font-style: Roboto;
            color:#93BD57;
        }
         #first{
            
            font-size: 20px;
            text-align: center;
        }
        #hader{
            color:#061E29;
            background-color: #FFFDE1;
            font-size: 50px;
            text-align: center;
            font-style: Inter;
            border:5px solid #1D546D;
            border-radius: 12px;
            
        }
        .rules-content {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 30px;
    width: 80%;
    height: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
}
.rules-modal {
    position: fixed;
    background-color: rgba(18, 18, 19, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.skip-button {
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding: 12px 24px;
    background-color: #9a5d63;
    border: none;
    border-radius: 22.5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.skip-button:hover {
    background-color: #f15111;
    transform: scale(1.15);
}
 #ruledesign{
    font-size: 25px;
 }

